# Flutter/Dart
.dart_tool/
.packages/
pubspec.lock
build/
.flutter-plugins
.flutter-plugins-dependencies
.fvm/

# Android
android/app/google-services.json
android/local.properties
android/.gradle/
android/.idea/
android/app/google-services.json
android/.project

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/.generated/
ios/Runner/GeneratedPluginRegistrant.*

# MacOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Podfile.lock

# Web
web/

# Windows
windows/flutter/

# Linux
linux/flutter/

# IDE
.idea/
.vscode/
*.iml
*.swp
*.lock
.DS_Store

# Keys
android/key.properties
*.jks
*.keystore
*.p12
*.pem